:root {
  font-size: 16px;
}

html {
  /* font-size: 13pt; */
  font-size: 1rem;
}

body {
  font-family: "LXGW WenKai", "LXGW WenKai Screen", sans-serif;
  font-weight: normal;
}

article {
  & p {
    margin: .75rem auto !important;
  }

  & ul,
  & ol {
    margin-top: .75rem !important;
  }

  & code,
  & pre,
  & kbd,
  & samp {
    font-family: "LXGW WenKai Mono", "Consolas", monospace;
    font-weight: normal;
  }

  & rt {
    font-size: .75rem;
  }
}

div.main-menu> :first-child {
  /* 右上导航菜单, 默认样式有点挤 */
  /* margin-top: .25rem; */
}

.katex-display {
  overflow: visible;
  /* 默认样式为 hidden, 生怕你看全了公式是吧, 神金 */
}

.spoiler {
  /* background-color: rgba(0, 0, 0, 1); */
  /* color: rgba(0, 0, 0, 1); */
  filter: blur(.25rem);

  &:hover {
    /* color: rgba(255, 255, 255, 1); */
    filter: unset;
  }
}