{{/* 霞鹜文楷 https://github.com/lxgw/LxgwWenKai */}}
{{/* 分包发布 https://github.com/CMBill/lxgw-wenkai-web */}}
{{ $useAliyunMirror := true }}
{{ $enableScreenVersion := false }}
{{ if $useAliyunMirror }}
	<link rel="stylesheet" href="https://registry.npmmirror.com/@callmebill/lxgw-wenkai-web/latest/files/style.css" />
	{{ if $enableScreenVersion }}<link rel="stylesheet" href="https://registry.npmmirror.com/lxgw-wenkai-screen-web/latest/files/style.css" />{{ end }}
{{ else }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@callmebill/lxgw-wenkai-web@latest/style.css" />
	{{ if $enableScreenVersion }}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-web@latest/style.css" />{{ end }}
{{ end }}